
/* styles.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.form-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-element {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.message {
    font-size: 14px;
    color: #f44336;
    margin-top: 10px;
}

.log-in {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.reset {
    background-color: grey;
    color: white;
    border: green;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.forgot-link {
  margin: 10px 0; /* Optional: Add some spacing between the links */
  cursor: pointer;
}

.forgot-link u {
  text-decoration: none; /* Remove default underline from <u> tag */
  font-weight: bold; /* Make the text bold */
}

.forgot-link:hover {
  cursor: pointer; /* Change cursor to hand tool on hover */
  color: green;
}

.user-info-container {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: 1px solid purple;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  }
/*.child-table-container {
  position: absolute;
  top: 300px;
  right: 20px;
  border: 1px solid purple;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}*/
.child-table-container {
  margin-top: 20px; /* Adjust the margin as needed */
  border: 1px solid purple;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  }