
.container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    border: 1px solid purple;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    padding: 15px;
    margin-top: -5px;

}
.user-info-container {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: 1px solid purple;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  }
.form-wrapper {
  position: absolute;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    width: 300px;
    border: 1px solid purple;
    background-color: #f0f0f0;
    border-radius: 15px;
    margin-top: -280px;
}

.child-table-container {
  position: absolute;
  top: 237px;
  right:20px;
  border: 1px solid purple;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  color: #836953;
}
.submit-button {
    background-color: #765341;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #6a4a3a;
}
.reset {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.reset:hover {
    background-color: 	#5A5A5A;
}
  .refresh-button {
    background-color: #765341;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 15px;
    transition: background-color 0.3s;
  }
  .refresh-button:hover {
    background-color: #6a4a3a;
  }
  .hidden-form {
    position: absolute;
    top: -500px; /* Set the initial position to be above the visible area */
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out; /* Add smooth transition */
  }
  .toggle-form-button {
    position: relative
    ;
    top: -480px;
    right: 10px;
    background-color:  #765341;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .toggle-form-button:hover {
    background-color: #6a4a3a;
  }

h2 {
    font-size: 24px;
    margin-bottom: 4px;
    color: #333;
}

.form-element {
    margin-bottom: 5px;
    text-align : left;
}

label {
    font-weight: italic;
    color: #836953;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 12px;
}

.message {
    font-size: 14px;
    color: #f44336;
    margin-top: 10px;
}

.log-in {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.forgot-link {
  margin: 10px 0; /* Optional: Add some spacing between the links */
  cursor: pointer;
}

.forgot-link u {
  text-decoration: none; /* Remove default underline from <u> tag */
  font-weight: bold; /* Make the text bold */
}

.forgot-link:hover {
  cursor: pointer; /* Change cursor to hand tool on hover */
  color: green;
}

.home{
text-align: center;
color:#836953;
}
